nav ul{
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li{
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px 15px;
  border-radius: 2px;
  border: solid black 1px;
} 
  #centrado{
    width: 80%;
    margin: 0 auto;
    padding: 5px;
  }  
  fieldset{
    margin-bottom: 10px;
  }
  legend{
    border: solid 2 px #6db8ff;
    padding: 5px;
    font-weight: bold;
    border-bottom: solid;
    background-color: #6db8ff;
  }
  #fotoperfil{
    margin: 5px;
    border: solid 2 px black;
  }
  body{
    background-color: #ffb46d;
  }
